<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SortedBus</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddBusController</display-name>
    <servlet-name>AddBusController</servlet-name>
    <servlet-class>redbus.controller.AddBusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBusController</servlet-name>
    <url-pattern>/AddBusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBookingController</display-name>
    <servlet-name>CancelBookingController</servlet-name>
    <servlet-class>redbus.controller.CancelBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingController</servlet-name>
    <url-pattern>/CancelBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>redbus.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddScheduleController</display-name>
    <servlet-name>AddScheduleController</servlet-name>
    <servlet-class>redbus.controller.AddScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddScheduleController</servlet-name>
    <url-pattern>/AddScheduleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>passengerDisplaySchWise</display-name>
    <servlet-name>passengerDisplaySchWise</servlet-name>
    <servlet-class>redbus.controller.PScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passengerDisplaySchWise</servlet-name>
    <url-pattern>/PScheduleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBusController</display-name>
    <servlet-name>DeleteBusController</servlet-name>
    <servlet-class>redbus.controller.DeleteBusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBusController</servlet-name>
    <url-pattern>/DeleteBusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBusController</display-name>
    <servlet-name>SearchBusController</servlet-name>
    <servlet-class>redbus.controller.SearchBusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBusController</servlet-name>
    <url-pattern>/SearchBusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicketController</display-name>
    <servlet-name>BookTicketController</servlet-name>
    <servlet-class>redbus.controller.BookTicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketController</servlet-name>
    <url-pattern>/BookTicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPassengerController</display-name>
    <servlet-name>InsertPassengerController</servlet-name>
    <servlet-class>redbus.controller.InsertPassengerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPassengerController</servlet-name>
    <url-pattern>/InsertPassengerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyController</display-name>
    <servlet-name>ModifyController</servlet-name>
    <servlet-class>redbus.controller.ModifyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyController</servlet-name>
    <url-pattern>/ModifyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassengerDisplayController</display-name>
    <servlet-name>PassengerDisplayController</servlet-name>
    <servlet-class>redbus.controller.PassengerDisplayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerDisplayController</servlet-name>
    <url-pattern>/PassengerDisplayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHistoryController</display-name>
    <servlet-name>ViewHistoryController</servlet-name>
    <servlet-class>redbus.controller.ViewHistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHistoryController</servlet-name>
    <url-pattern>/ViewHistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>redbus.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>